.cart {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-card {
  text-align: center;
  width: 250px;
}

.content-card > i {
  font-size: 10rem;
  padding-bottom: 10px;
  color: gray;
}

.content-card > p {
  color: gray;
}